*.suo
*.sdf
.vs
.vscode
*.cache
*.dwlt
*.pyc
*.log
*.idea
**/.DS_Store
~$*.xlsx
**/Temp
**/obj
**/Out
**/bin
**/backup
**/BackUp
**/Debug
**/Library
**/Library/AssetImportState
**/Library/*.asset
**/ProjectBuild
**/Assets/LFrameWork/Extensions/VSCode*
**/Assets/LFrameWork/Extensions/TexturePackerImporter/Editor/SettingsTexturePackerImporter.*
**/CachAssetsFiles

/Fish3UI/.objs
/Fish3UI/**/output
/scripts/FairyGUIUtils/output
/ProjectBuild
/docs/CfgFiles
/docs/CfgDataClass